.App {
  text-align: center;
  padding: 24px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Component CSS Stylings */
.itemBox {
  background-color: #E6E6E6;
  width: 352px;
  height: 28px;
  padding: 8px;
  display: flex;
  justify-content: left;
  margin-bottom: 8px;
}

.itemBox p {
  margin-bottom: 0px;
  margin-top: 0px;
}

h1 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  opacity: 0.87;
}

.extensionH2 {
  font-family: "Roboto";
  font-size: 12px;
  height: fit-content;
  font-weight: bold;
  text-align: left;
  color: #000000;
  opacity: 0.87;
}

.extensionBody {
  font-family: "Roboto";
  font-size: 8px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  opacity: 0.60;
}

.imagePlaceholder {
  height: 20px;
  width: 20px;
  background-color: #61dafb;
  margin-left: 6px;
  margin-top: 6dp;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
