
.App {
  text-align: center;
  padding: 24px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Component CSS Stylings */
.itemBox {
  background-color: #E6E6E6;
  width: 352px;
  height: fit-content;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
}

.itemBox.content {
  height: fit-content;
}

.itemBox.current {
  background-color: #FFA852;
}

.itemBoxContent {
  display: flex;
  justify-content: left;
  margin-bottom: 8px;
}

.commentBox {
  text-align: left;
  background-color: #FFFFFF;  
  padding: 4px;
  border-radius: 6px;
}

.iconBox {
  margin-left: 8px;
}

.current .commentBox {
  color: rgba(255, 168, 82, 0.40);
}

.current .extensionH2 {
  color: rgba(255, 255, 255, 0.87);
}

.itemBox p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.imagePlaceholder {
  height: 20px;
  width: 20px;
  border-radius: 6px;
}

.trackerButton {
  margin-top: 24px;
  margin-bottom: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.trackerButton > .trackerButtonLeft {
  background-color: #FF5C5C;
  margin-right: 4px;
  color: white;
  padding: 8px;
}

.trackerButton > .trackerButtonRight {
  background-color: #FF5C5C;
  margin-left: 4px;
  color: white;
}

.overline {
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.60);
  font-weight: bold;
  font-size: 10;
}

button {
  border: none;
  border-radius: 6px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
}

button:active {
  border: solid;
  border-color: rgba(0, 0, 0, 0.60);
}

/* button:focus {
  outline: none;
} */

/* General Stylings */

p {
  text-align: left;
}

h1 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  opacity: 0.87;
}

.extensionH2 {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  opacity: 0.87;
}

.extensionBody {
  font-family: "Roboto";
  font-size: 8px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  opacity: 0.60;
}

input {
  width: 331px;
  height: 20px;
  border-radius: 6px;
  border-width: 0px;
  padding-left: 8px;
  font-family: "Roboto";
  font-size: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
